.footer {
  color: #e8e8e8;
  background-color: var(--primary-color-dark);
  /* padding: 50px 0; */
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (max-width: 809px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
}

.column:last-of-type {
  margin-left: auto;
}

@media (max-width: 809px) {
  .column:last-of-type {
    margin-left: unset;
  }
}

.headline {
  color: #ffffff;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  font-size: 20px;
}

.bottom {
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 1px solid #bdbdbd;
  justify-content: flex-start;
}

.policy {
  text-decoration: underline;
}

.policy:hover {
  text-decoration: none;
}
