.button {
  width: 250px;
  background-color: var(--primary-color-dark);
  border: 0;
  color: var(--light-color);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.7px;
  transition: color 0.3s linear;
}

.button:hover {
  cursor: pointer;
  color: var(--secondary-color);
}
