.container {
  margin: 50px 0 100px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.item {
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  background: #FFF;
  overflow: hidden;
  transition: border-color 0.2s linear;
  box-shadow: 0px 2px 8px 1px rgba(34, 60, 80, 0.2);
}

.item:hover {
  border-color: var(--secondary-color-hover);
}

.img {
  transition: scale 0.3s linear;
}

.item:hover .img {
  scale: 105%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}

.title {
  display: block;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  color: #000000;
  font-size: 22px;
  /* background-color: var(--secondary-color); */
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #E2E2E2;
}

.item:hover .title {
  color: #000000;
  background-color: var(--secondary-color-hover);
}
