.bar {
  position: relative;
}

.input {
  width: 650px;
  height: 60px;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 0 25px;
  outline: none;
  transition: all 0.3s linear;
}

.input::placeholder {
  color: #b4b4b4;
}

.input:focus {
  border-color: var(--primary-color);
}

.control {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 24px;
  height: 24px;
}
