.suggests {
  position: absolute;
  top: 60px;
  left: 0;
  width: 650px;
  background-color: var(--light-color);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.item {
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 300;
  transition: background-color 0.3s linear;
}

.item:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.notfound {
  padding: 10px 25px;
  font-size: 20px;
}

.show {
  display: block;
  padding: 10px 25px;
  background-color: var(--primary-color-dark);
  color: var(--light-color);
  font-size: 22px;
  font-weight: 300;
  transition: color 0.3s linear;
}

.show:hover {
  color: var(--secondary-color);
}
