.container {
  padding: 40px 0 80px;
  font-weight: 400;
}

.breadcrumbs {
  margin-bottom: 8px;
  margin-left: 3px;
}

.headline {
  color: #1e1e1e;
  font-weight: 400;
  padding: 0 40px;
  font-size: 42px;
}

.product {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 60px;
  gap: 80px;
  padding-inline: 40px;
}

.pic {
  object-fit: contain;
  padding-inline: 50px;
  box-sizing: content-box;
}

.info {
}

.pricing {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.price {
  font-weight: 500;
  font-size: 26px;
}

.buttons {
  padding: 40px 0 0;
  display: flex;
  gap: 20px;
}

.params {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.char {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
}

.label {
  font-size: 18px;
  font-weight: 300;
  color: #808080;
}

.proposals {
  margin-top: 20px;
}

.subtitle {
  color: #1e1e1e;
  font-weight: 400;
  font-size: 32px;
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 30px;
  padding-bottom: 20px;
  overflow-x: auto;
}
