.container {
  padding: 40px 0 80px;
}

.breadcrumbs {
  margin-bottom: 8px;
  margin-left: 3px;
}

.headline {
  color: #1e1e1e;
  font-weight: 400;
  padding: 0 40px;
  margin: 0 0 40px;
  font-size: 42px;
}

.pagination {
  margin: 50px 0 20px;
}
