.container {
  padding: 30px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100%;
  padding-inline: 15px;
}

.logo {
  width: 250px;
  height: 55px;
}

.phone {
  width: 250px;
  font-size: 26px;
  text-align: right;
}
